# Lab Experiments: lists in Python:

- AI / ML Laboratory Experiments.
- Topic: Python Programming.
- Satinder Singh Sall 2570180

## Lab Experiment - 1:
- Q1. Write a Python program to create a list of 5 integers and display the list.

In [1]:
list1 = [1, 2, 3, 4, 5]

print(list1)

[1, 2, 3, 4, 5]

## Lab Experiment - 2:
- Q2. Write a Python program to find the length of a list entered by the user.

In [6]:
list2 = input("Enter list item: ")
my_list = list2.split()

print(my_list)
print(f"The list length: {len(my_list)}")

Enter list item:  Sall Vaibhav Satinder

['Sall', 'Vaibhav', 'Satinder']
The list length: 3

## Lab Experiment - 3:
- Q3. Write a Python program to access and display the first and last elements of a list.

In [11]:
list3 = ["Satinder", "Nick", "Charlie", "Vaibhav"]

print(f"The list first element is: {list3[0:1]}")
print(f"The list last element is: {list3[3:]}")

The list first element is: ['Satinder']
The list last element is: ['Vaibhav']

## Lab Experiment - 4:
- Q4. Write a Python program to add an element to an existing list using append().

In [15]:
list4 = ["Satinder", "Nick", "Charlie", "Vaibhav"]
print(list4)
list4.append("Swayam")
print(list4)

['Satinder', 'Nick', 'Charlie', 'Vaibhav']
['Satinder', 'Nick', 'Charlie', 'Vaibhav', 'Swayam']

## Lab Experiment - 5:
- Q5. Write a Python program to remove a given element from a list.

In [19]:
list5 = ["Satinder", "Nick", "Charlie", "Vaibhav"]
print(list5)
list5.remove("Nick")
print(list5)

['Satinder', 'Nick', 'Charlie', 'Vaibhav']
['Satinder', 'Charlie', 'Vaibhav']

## Lab Experiment - 6:
- Q6. Write a Python program to insert an element at a given position in a list.

In [22]:
list6 = ["Satinder", "Nick", "Charlie", "Vaibhav"]
print(list6)
list6.insert(2, "Swayam")
print(list6)

['Satinder', 'Nick', 'Charlie', 'Vaibhav']
['Satinder', 'Nick', 'Swayam', 'Charlie', 'Vaibhav']

## Lab Experiment - 7:
- Q7. Write a Python program to compute the sum of the list elements.

In [23]:
list7 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
print(list7)
print(sum(list7))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
45

## Lab Experiment - 8:
- Q8. Write a Python program to append multiple elements to a list.

In [26]:
list8 = ["Satinder", "Nick", "Charlie", "Vaibhav"]
print(list8)
list8[4:6] = ["Swayam", "Santosh"]
print(list8)

['Satinder', 'Nick', 'Charlie', 'Vaibhav']
['Satinder', 'Nick', 'Charlie', 'Vaibhav', 'Swayam', 'Santosh']

## Lab Experiment - 9:
- Q9. Write a Python program to clear all elements from a list.

In [28]:
list9 = ["Satinder", "Nick", "Charlie", "Vaibhav"]
print(list9)
list9.clear()
print(list9)

['Satinder', 'Nick', 'Charlie', 'Vaibhav']
[]

## Lab Experiment - 10:
- Q10. Write a program to find the maximum and minimum in a list of integers.

In [30]:
list10 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
print(list10)
print(f"Max: {max(list10)}")
print(f"Min: {min(list10)}")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
Max: 9
Min: 0